.tracker {
  max-width: 50%;
  min-width: 50%;
}

h2 {
  text-align: center;
}

.tracked-food span {
  margin-left: 20px;
}

.tracker button {
  margin-left: 20px;
}

.tracked-food {
  margin-top: 20px;
}
