h1 {
  text-align: center;
  color: mediumslateblue;
  font-size: 60px;
}

.search {
  max-width: 50%;
  min-width: 50%;
}

.search input{
  margin: 0 auto;
  display: block;
}

.flex-container {
  display: flex;
}
